SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:54320/operaton
SPRING_DATASOURCE_USERNAME=operaton
SPRING_DATASOURCE_PASSWORD=password

PLUGIN_IDENTITY_KEYCLOAK_KEYCLOAKADMINURL=http://localhost:8081/auth/admin/realms/operaton

#new
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENTID=operaton-cockpit
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENTSECRET=ThisIsNotASecret
SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUERURI=http://localhost:8081/auth/realms/operaton

# Old:
#KEYCLOAK_ISSUER_URI=http://localhost:8081/auth/realms/operaton
#KEYCLOAK_ADMIN_URL=http://localhost:8081/auth/admin/realms/operaton
#KEYCLOAK_CLIENT_ID=operaton-cockpit
#KEYCLOAK_CLIENT_SECRET=ThisIsNotASecret
#KEYCLOAK_ADMIN_GROUP=operaton-admin
